
.nombre{
  font-family: 'Satisfy', cursive;
  font-weight: bold;
}
.tipo{
  font-weight: bold;
  text-align: center;
  font-size: 200%;
}
.foot{
  font-weight: bold;
  text-align: center;
}
.cancelar{
  background-color: rgb(251,87,91);
  border-color: rgb(107,173,174);
  border-radius: 6px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}
.aceptar{

  background-color: rgb(243,232,221);
  border-color: black;
  border-radius: 6px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}